body {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  text-align: center;
}

.col-main {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 25px;
  margin: 10px;
}

.col-bids {
  border-color: green;
}

.col-asks {
  border-color: red;
}

.ask-rate {
  color: red;
}

.bid-rate {
  color: green;
}

.quantity {
  text-align: right;
  padding-right: 50px;
}